.profilebtn{
  overflow: visible;
  color: #ffffff;
  background-color: rgb(61, 183, 224);
  z-index:2;
  border-radius: 6px;

}

.jobTitle{
  font-weight: bolder;
  color: rgb(61, 183, 224);
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.skill-item {
  background-color: #f8f9fa;
  padding: 8px 12px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.proimg{
  margin-top: 200px;
}