.home-container {
  min-height: 100vh;
  display: flex;
  margin-top: 80px;
}

.content {
  margin-right: 300px;
  margin-left: 300px;
  width: 100%;
}

.searchIcon {
  max-width: 30px;
}

.searchIcon input {
  margin-left: 0 !important;
}

.navIcons {
  flex-direction: row;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .home-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
  }

  .content {
    margin-right: 0;
  }

  .right-side {
    position: unset;
  }
}

@media (max-width: 767.999px) {
  .home-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 80px;
  }

  .content {
    margin-right: 0;
    margin-left: 0;
    max-width: 100% !important;
  }

  .right-side {
    position: unset;
  }

  .left-side {
    position: unset;
    order: 2;
  }
}